package @Package@;

import @ModelPath@;
import org.springframework.data.jpa.repository.JpaRepository;

/**
 * @SeparateModel@ repository.
 *
 * @author code generator
 */
public interface @Model@Repository extends JpaRepository<@Model@, @IDType@> {

}
